@charset "UTF 8";
/*
    em HTML é id  =  em CSS é # (só pode utilizar um mesmo id por página)
    em HTML é class  =  em CSS é .(pode usar vários por página)
*/

body {
    background-color: rgb(128, 223, 128);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: green;
}
h1#principal { /*seletor personalizado, h1 é opcional*/
    text-align: center;
    background-color: green;
    color: white;
}
h2 {
    color: rgb(79, 70, 47);
}
.basico {
    color: rgb(128, 0, 98);
    font-weight: bold;
}
.intermediario {
    color: rgb(11, 0, 128);
}
.avancado {
    color: rgb(255, 60, 0);
}
.destaque {
    background-color: aquamarine;
}